.place__link {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFF;
    transition: opacity .4s ease;
    cursor: pointer;
  }
  
  .place__link:hover {
    opacity: 0.8;
  }

@media screen and (max-width: 320px) {
  .place__link {
    margin-left: 16px;
    margin-right: 16px;
  }
}